body {
	margin: 0px 20px 0px 20px;
}

.content-wrapper{
	width: 80%;
	height: auto;
	margin: 0px auto;
	display: flex;
}

.filter-holder {
	width: 20%;
	height: 600px;
	margin-left: 20px;
}

.filtered-shops {
	width: 70%;
	height: 600px;
	float: left;
}
