.locations-container {
    background-color: rgba(229, 229, 229, 0.432);
    display: flex;
    flex-direction: row;
    width: 1150px;
    margin: auto;
}

.locations-list {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.locations-list__item {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #092B75;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

.locations-list__item:focus {
    outline: none;
}

.locations-list__item:hover {
    background-color: #1C51C2;
    transition: background-color .25s;
}

.locations-details {
    width: auto;
    display: flex;
    flex-direction: row;
}

.locations-details__name {
    margin: 1rem;
}

.locations-details__desc {
    margin: 1rem;
    padding: 0;
}

.locations-details__text {
    width: 600px;
}

.locations-details__img {
    width: 350px;
    height: 300px;
    background-position: center;
    background-size: cover; 
}

.locations-details--unselected {
    padding: 1rem;
    font-size: 1.5rem;
}

.restaurants-intro {
    width: 1150px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.restaurants-intro h1 {
    text-align: left;
}
