.head-wrapper {
    height: calc(100vh - 80px);
}

.head-image {
    background-image: url('http://localhost:8080/assets/home/heading-pic.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -80px;
    overflow: hidden;
}

.head-title {
    position: relative;
    top: 65vh;
    width: 1150px;
    margin: auto;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
    text-align: left;
}

.head-subtitle {
    position: relative;
    top: 65vh;
    width: 1150px;
    margin: auto;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.671);
}

.head-cta {
    position: relative;
    top: 70vh;
    width: 1150px;
    margin: auto;
    overflow: hidden;
}

.head-cta-btn {
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    background-color: #FFBF44;
    padding: 1rem 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.52);
}

.head-cta-btn:hover {
    background-color: rgb(252, 196, 92);
}

.head-cta-btn:focus,
.btn-submit:focus {
    outline: none;
}

/* about */
.about-sc {
    margin: 2rem 0;
}

.about-text {
    width: 50%;
    margin: auto;
    text-align: center;
}

.about-icons {
    display: flex;
    width: 1150px;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;
}

.about-icons div {
    width: 300px;
}

.about-icons p {
    text-align: center;
    font-size: 1.5rem;
}

.about-icons img {
    max-width: 100px;
    max-height: 80px;
    display: block;
    margin: auto;
}

/* form styling */
.request-form{
    text-align: center;
    background-color: #092B75;
    width: 100%;
    padding: 5px 55px 55px 55px;
}

.request-input{
    width: 39%;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.3em;
    margin-bottom: 21px;
    border: 3px solid #FFBF44;
}

.request-input:focus {
    outline: none;
    box-shadow: 0 0 10px #FFBF44;
}

.btn-submit{
    border: none;
    background-color: orange;
    color: white;
    font-size: 1.7em;
    padding: 15px 60px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: rgb(252, 196, 92);
}

.request-heading{
    color: white;
    font-size: 2.2em;
}
