.beauty-intro {
    width: 85%;
    margin: auto;
    width: 1150px;
}

.beauty-intro h1 {
    display: inline-block;
    padding-top: 2rem;
}


.beauty-filter-area-left {
    z-index: 99;
    position: absolute;
    padding-left: 150px;
    padding-top: 0px;
    overflow: auto;
}

.beauty-filters h3 {
    color: white;
    font-size: 16px;
    font-style: bold;
    border: solid 1px #092B75;
    background-color: #1C51C2;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    width: 170px;
    text-align: center;
}

.beauty-filters label {
    display: block;
    color: black;
    font-size: 14px bold;
    width: 170px;
    padding: 1px;
    border: solid 1px #FFBF44;
    background-color: #FFFFFC;
    cursor: pointer;
}

.human-body-img {
    z-index: 10;
    position: relative;
    margin: auto;
    text-align: center;
}

.human-body-img-categories {
    cursor: pointer;
}

.tags {
  padding-left: 50px;
}

.tag {
  display: inline-block;
  color: #0d0a03;
  background-color: #ffbf44;
  border: 2px solid #ff9d09;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

.no-matches {
  text-align: center;
}
