.mall-img {
    width: 100%;
    height: 200px;
    z-index: -1;
 }
 
 .filtered-shops{
	display: flex;
}
 
.result-list-mall {
    padding: 0 10px;
    text-align: center;
    width: 200px;
    height: 260px;
    padding: 5px;
    margin: 20px;
    float: left;
}


 
 .discount-mall {
    width: 50px;
    height: 50px;
    z-index: 99;
    padding-right: 0px;
    float: right;
}

.mall-name {
	color: #092B75;
    font-size: 20px;
    padding-top: 5px;
    z-index: 10;
}

